.map-container {
    width: 100%;
    height: 300px;
    position: relative;
    margin: 20px auto;
}

.map-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.find-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.find-us-details {
    display: flex;
    gap: 70px;
    justify-content: center;
    width: 100%;
}

.find-us-info, .find-us-contact {
    width: 300px;
    min-width: 300px;
}

.social-media {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.find-us-content h1 {
    font-size: 2.25rem;
}

@media only screen and (max-width: 980px) {
    .find-us-details {
        flex-direction: column;
        width: fit-content;
        margin-left: 75px;
    }
}