.menu-background {
    background-image: url('../images/menu-background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    row-gap: 20px;
    width: 70%;
    margin: 0 auto;
    background-color: rgb(245, 240, 230);
}

.menu div {
    min-width: 300px;
    margin: 20px auto;
    padding: 10px;
}

.menu-header {
    grid-column: 1 / -1;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}

li {
    margin: 10px 0;
}

.menu .drinks ul {
    columns: 2;
    column-gap: 20px;
    padding: 10px;
}

.menu .drinks li {
    break-inside: avoid;
    margin-top: 0;
}

.menu-header h1 {
    position: relative;
    margin-bottom: 20px;
}

span {
    position: relative;
    z-index: 1;
}

.menu-header h1::after {
    content: '';
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 25px;
    z-index: 0;
    background-color: rgb(255, 212, 14, 0.8);
}

.menu div h2 {
    position: relative;
    font-size: 1.75rem;
}

.menu div h2::after {
    content: '';
    position: absolute;
    top: 22px;
    left: 48%;
    transform: translateX(-50%);
    width: 100%;
    height: 25px;
    z-index: 0;
    /* background-color: rgb(197, 250, 254); */
    background-color: rgb(223, 24, 42, 0.5);
}