.menu-background {
    padding: 20px;
    position: relative;
    /* background-image: url('../images/menu-background.avif'); */
}

.menu-background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    row-gap: 20px;
    width: 70%;
    margin: 0 auto;
    background-color: rgb(245, 240, 230);

    background-image: url('../images/rice-paper.avif');
    background-repeat: repeat;
    line-height: 1.65;
}

.header-part-one {
    background-color: inherit;
    width: fit-content;
}

.header-part-two {
    font-size: 3rem;
    font-weight: 700;
}

.menu div {
    min-width: 300px;
    margin: 20px auto;
    padding: 10px;
}

.menu-header {
    grid-column: 1 / -1;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}

li {
    margin: 10px 0;
    font-size: 1.25rem;
}

.menu .drinks ul {
    columns: 2;
    column-gap: 20px;
    padding: 10px;
    width: 300px;
}

.menu .drinks li {
    break-inside: avoid;
    margin-top: 0;
}

.menu-header h1 {
    margin-bottom: 20px;
    margin: auto;
}

.menu-title {
    width: fit-content;
    padding: 0 10px;
}

.menu div h1  {
    position: relative;
    padding: 0 10px;
    font-size: 2.25rem;
}

.menu div h1::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 25px;
    z-index: 0;
    background-color: rgb(255, 212, 14, 0.3);
}

.menu div h2 {
    position: relative;
    font-size: 1.75rem;
}

.menu div h2::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 25px;
    z-index: 0;
    background-color: rgb(223, 24, 42, 0.3);
}

.taco-image-container {
    grid-column: 1 / -1;
    margin: 20px auto;
    width: 50%;
}

.menudo-image-container {
    margin: 20px auto;
    width: 50%;
}

.monthly-specials {
    grid-column: 1 / -1;
    width: 50%;
}

.biscuit-description {
    margin: 10px 0;
    font-size: 1.25rem;
}

@media (min-width: 981px) {
  .menu-background {
    background-image: url('../images/menu-background.avif');
  }
}

@media only screen and (max-width: 980px) {
    .menu-background {
        background-image: none;
        background-color: rgb(255, 244, 222);
    }

    .menu-background-image {
        display: none;
    }

    .menu {
        display: block;
        background-image: none;
        background-color: rgb(255, 244, 222);
        filter: none;
        width: 100%;
    }

    .header-part-one {
        background-color: rgb(255, 212, 14, 0.8);
        border-radius: 15px;
        padding: 0 5px;
    }

    .header-part-two {
        width: fit-content;
        height: 75px;
    }

    .menu-header h1 {
        margin-bottom: 0px;
    }

    .menu-header h1::after, .menu div h2::after {
        display: none;
    }

    .menu div {
        margin: 20px auto;
        padding: 0px;
    }
    .menu-header h1::after {
        width: 98%;
    }

    .disclaimer em {
        font-style: normal;
    }

    .disclaimer {
        font-size: 1.35rem;
        margin-bottom: 10px;
    }

    .menu-title {
        background-color: rgb(223, 24, 42);
        padding: 0px 10px;
        color: rgb(255, 244, 222);
        border-radius: 20px;
        width: fit-content;
    }

    .menu .drinks ul {
        columns: 1;
    }

    .menu div {
        width: 70%;
    }
}
